/*Yleiset määritykset body elementin sisällölle sekä teksteille*/
body {
  color: #1F3541;
  background-color: #E4F4F3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p {
  font-size: 18px;
}
h1 {
  font-size: 26px;
  color: #FB8DA0;
}
h2 {
  font-size: 22px;
}
h3{
  font-size: 22px
}

/*määritettyjen sisältöjen keskitys*/
.keskitys {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Kalenterin luukkujen asettelu erusivulla*/
.grid-container {
    padding: 20px 20px;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*etusivun kalenterin painikkeiden määrityksiä*/
nav a {
    background: #FB8DA0;
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid #1F3541;
    font-size: 18px;
    border-radius: 15px;
    width: 150px;
    height: 70px;
    padding: 30px;
    margin: 30px 10px;
    font-size: 22px;
}

/*kalenterin painikkeen värin muutos hiiren alla*/
nav a:hover {
  color: #FB8DA0;
  background-color: #f2f2f2;
}

/*Takaisin etusivulle painikkeen määritykset*/
.toimintakehote {
  background: #FB8DA0;
  color: #f2f2f2;
  border: 2px solid #1F3541;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  padding: 10px 15px;
  cursor: pointer;
}

/*Takaisin etusivulle painikkeen värin muutos hiiren alla*/
.toimintakehote:hover {
  color: #FB8DA0;
  background-color: #f2f2f2;
}

/*alatunniste*/
footer {
  background-color: #FB8DA0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin: 0px;
  color: #f2f2f2;

}


/*TÄMÄN TEKSTIN ALAPUOLELLE YKSITTÄISTEN LUUKKUJEN OMIA MÄÄRITYKSIÄ, KUVIEN KOOT YMS.*/

#embed-ded-map-canvas {
  position: relative;
  left:400px;
}
/*Luukku6*/
#pasinLuukku {

}
/*luukku7 positioning*/
#imageLaguuni {
position: relative;
top: 50px;
}


